
<!-- <img src="https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400006/100130939-error
        -404-page-not-found-error-with-glitch-effect-on-screen-vector-illustration-for-your-design-.jpg" alt="">
<span><button class="btn button-outline-primary">Home</button></span> -->

<section class="error">
    <div class="container mx-auto text-center">
        <h1 class="font-bold mb-2">Page not found. 😕</h1>
        <p class="text-gray-500 text-lg mb-12">Uh-oh! Looks like the page you are trying to access,<br>
             doesn't exist. Please start afresh.</p>
           <button routerLink="/home" class="btn btn-primary">Go Home</button>
    </div>
</section>